<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RESERVATION HEBERGEMENETS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="propos" class="nav-link active" href="#">Gerer mes reservations
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="propos" class="nav-link active" href="#">Gerer un hebergement
              <span class="visually-hidden">(current)</span>
            </a>
          </li>

           
        </ul>
      
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Rechercher">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
      </div>
    </div>
   
  </nav>
  <div class="container">
    <h3>MONTREAL</h3>
  </div>
  
  