
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" >Reservation Hebergement</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link " >Deconnexion</a>
        </li>
        <li class="nav-item">
          <a routerLink="/criteria" class="nav-link" >Rechercher par critere</a>
        </li>
      </ul>
  
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let b of hebergements">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title">
                  <img width="300px" height="300px" alt="My image name" src={{b.repertoireDePhoto}}>
                </h5>
                </div>
              <h2 >{{b.prix}} $</h2>
              <h5>Situe à: {{b.adresse.numeroDeRue}},{{b.adresse.rue}}
                {{b.adresse.ville}},
                {{b.adresse.province}},
                {{b.adresse.pays}},
                {{b.adresse.codePostale}}
              </h5> 
              <h5>Type: <h3>{{b.typeDeHebergement.typeDeHebergement}}</h3></h5> 
              <button type="button" class="btn btn-success" (click)="getHebergementId(b.id)" routerLink="/reserver">Reserver</button> 
            </div>
    </div>
</div>


    