<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Gerer les locataire</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/espaceAdmin">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  </nav>
  <div class="container">
      <div class="row">
        
       
        <div class="col-12" >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Email </th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Telephone</th>
                <th scope="col">Etat de locataire</th>
                <th scope="col">Adresse</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of locataires" >  
                
                <td>{{b.emailLocataire}}</td>
                <td>{{b.nom}}</td>
                <td>{{b.prenom}}</td>
                <td>{{b.telephone}}</td>
                <td>{{b.etatDeLocataire}}</td>
                <td>{{b.adresse.numeroDeRue}},{{b.adresse.rue}}
                  {{b.adresse.ville}},
                  {{b.adresse.province}},
                  {{b.adresse.pays}},
                  {{b.adresse.codePostale}}
                </td>
               
                <td>
                  
                  <!--<button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Modifier</button>-->
                <button (click)="deleteLocataire(b.emailLocataire)" type="button" class="btn btn-danger" ><i class="far fa-trash-alt"></i>Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
