.container {  
   
    color: #fff;
    background-image:url("../../assets/images/44.jpg");
    background-size: 650 px  ;  
    background-size: cover;  
    display: block;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 900vh;
    margin:0 auto;
    font-family: "Times New Roman", Times, serif;
} 
h1 {
   
   
    color:rgb(43, 86, 226);
    font-family: "Times New Roman", Times, serif;
  }
