

<div id="sect1" class="container"> 
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <p></p>
      <a class="navbar-brand" >RESERVATION HEBERGEMENETS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="" class="nav-link " >Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connexion</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink ="/connexionProp">Proprietaire</a>
              <a class="dropdown-item" routerLink="/connexion">Locataire</a>
            
  
            </div>
          </li>
          
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inscription</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink ="/inscreptionProp">Proprietaire</a>
              <a class="dropdown-item" routerLink="/inscreption">Locataire</a>
          
  
            </div>
          </li>
  
        </ul>
        
      </div>
    </div>
  </nav>
  
-->

<h1 class="font-weight-bold">RESERVATION HEBERGENETS MONTREAL</h1>

<p></p>
<h3>Est un service de plateforme communautaire  de location de logements de particuliers, d'entreprises hôtelières, et d'investisseurs en immobiliers locatifs dans la ville de MONTREAL</h3>  
<h3>Pour benificier de nos services veuillez se connecter selon votre profil !</h3>

<h1>Pour nous contacter</h1>
<h1>Courriel:</h1>

<h3>lydiazekrini@yahoo.com</h3>
<h3>shuang@gmail.com</h3>
<h3>luisa@gmail.com</h3>

<h1>Telephone:</h1>
<h3>514 549 3134</h3>
</div> 