<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hebergement</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="propos" class="nav-link active" href="#">
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
   <li class="nav-item">
            <a class="nav-link"  routerLink="/espaceLocataire">Espace Locataire</a>
            
          </li>
           <li class="nav-item">
      <a routerLink="/criteria" class="nav-link" >Rechercher</a>
    </li>
    </ul>
   
       
      </div>
      
    </div>
   
  </nav>
  <p></p>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let b of hebergements">
              <div class="card-body">
                <div class="row">
                  <h5 class="card-title">
                    <img width="300px" height="300px" alt="My image name" src={{b.repertoireDePhoto}}>
                 
                  </h5>
                  </div>
                <h3 class="card-text"><span class="text-muted font-weight-bold">{{b.prix}} $</span></h3>
              <button type="button" class="btn btn-success" (click)="onReserver()"  routerLink="/reserver">Reserver</button>
                <h5 class="card-title">{{b.adresse}}</h5>          
              </div>
      </div>
  </div>
  
  
      
      