


<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" >Reservation Hebergement</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <!--<a routerLink="propos" class="nav-link " href="#">A propos de nous
          </a>-->
        </li>

        <li class="nav-item">
          <a routerLink="/loginAdmin" class="nav-link " >Admin</a>
        </li>
       
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Se connecter</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/connexion">Locataire</a>
            <a class="dropdown-item" routerLink ="/connexionProp">Proprietaire</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">S'inscrire</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/inscreptionProp">Proprietaire</a>
            <a class="dropdown-item" routerLink ="/inscreption">Locataire</a>

          </div>
        </li>
        <li class="nav-item">
          <!--<a routerLink="/criteria" class="nav-link" >Rechercher</a>-->
        </li>
      </ul>
  
    </div>
  </div>
</nav>

<app-propos></app-propos>

<!--<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let b of hebergements">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title">
                  <img width="300px" height="300px" alt="My image name" src={{b.repertoireDePhoto}}>
               
                </h5>
                </div>
              <h2 class="card-text" style="color: rgb(0, 128, 19);"><span class="text-muted font-weight-bold">{{b.prix}} $</span></h2>
          
              <h5>Situe à: {{b.adresse.numeroDeRue}},{{b.adresse.rue}}
                {{b.adresse.ville}},
                {{b.adresse.province}},
                {{b.adresse.pays}},
                {{b.adresse.codePostale}}
              </h5> 
              <h5>Type: {{b.typeDeHebergement.typeDeHebergement}}</h5> 
              <button type="button" class="btn btn-success"   routerLink="/connexion">Reserver</button>
              
            </div>
    </div>
</div>

-->
    