<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RESERVATION HEBERGEMENETS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="propos" class="nav-link active" href="#">A propos
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="">Nos hebergements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reserver</a>
        </li>
        <li class="nav-item">
          <a routerLink="connexion" class="nav-link">Connexion</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tableau de bord</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="hebergement">Mes reservations</a>
            <a class="dropdown-item" href="#">Mes hebergements</a>
            <a class="dropdown-item" href="#">Deconnexion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Rechercher">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>

<div class="row">
    <div class="col-md-4" *ngFor="let b of hebergements._embedded.propreties">
        <div class="card" >
            <img class="card-img-top" src="{{b.photos}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{b.nom}}</h5>
              <p class="card-text">{{b.desciption | slice:0:20}} ...</p>
              <p class="card-text"><span class="text-muted font-weight-bold">{{b.prixCourant | number:'0.00'}}</span></p>
              <a  class="btn btn_primary" style="width: 100px;">Reserver!</a></div>
              <button type="button" class="btn btn-primary">Reserver!</button>
            </div>
          </div> 
          
    </div>
    